<div class="abonent-detail-section">
  <div class="abonent-detail-section-header">
    <span><h3>{{abonentName$ | async}}</h3></span>
    <span *ngIf="center">Center: {{center.lat}}, {{center.lng}}</span>
  </div>
  <div class="abonent-detail-section-body">
    <div class="abonent-detail-section-body-list">
      <abonent-detail-view [abonentDetails]="abonentDetails$ | async"></abonent-detail-view>
    </div>
    <div class="abonent-detail-section-body-map" *ngIf="abonentHasDetails$ | async">
      <ya-map [latitude]="55.76" [longitude]="37.64"
          [controls]="['geolocationControl', 'routeEditor', 'trafficControl', 'zoomControl', 'rulerControl']"
          [behaviors]="['default']"
          [zoom]="12"
          [type]="'yandex#map'"
          (centerChange)="onCenterChange($event)"></ya-map>
    </div>
  </div>
</div>
