body {
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica
    /*
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    */
}
.thisapp {
    max-width: 1310px;
    margin: 0 auto;
}
